<div class="logo-container">
    <a href="/" class="logo">
        <img src="/assets/images/brand.png" alt="Clean UI Admin Template"/>
        <img class="logo-inverse" src="/assets/images/brand-inverse.png" alt="Clean UI Admin Template"/>
    </a>
</div>
<div class="left-menu-inner scroll-pane">
    <ul class="left-menu-list left-menu-list-root list-unstyled">
        <li>
            <a class="left-menu-link" href="#/dashboards/beta">
                <i class="left-menu-link-icon icmn-home2"></i>
                <span class="menu-top-hidden">Dashboard</span> Beta
            </a>
        </li>
        <li class="left-menu-list-separator"></li>
        <li class="left-menu-list-submenu">
            <a class="left-menu-link" href="javascript: void(0);">
                <i class="left-menu-link-icon icmn-files-empty2"></i>
                Default Pages
            </a>
            <ul class="left-menu-list list-unstyled">
                <li>
                    <a class="left-menu-link" href="#/pages/login-alpha">
                        Login Alpha
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/pages/login-beta">
                        Login Beta
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/pages/login-omega">
                        Login Omega
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/pages/register">
                        Register
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/pages/lockscreen">
                        Lockscreen
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/pages/pricing-tables">
                        Pricing Tables
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/pages/invoice">
                        Invoice
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/pages/page-404">
                        Page 404
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/pages/page-500">
                        Page 500
                    </a>
                </li>
            </ul>
        </li>
        <li class="left-menu-list-submenu">
            <a class="left-menu-link" href="javascript: void(0);">
                <i class="left-menu-link-icon icmn-cart5"></i>
                Ecommerce
            </a>
            <ul class="left-menu-list list-unstyled">
                <li>
                    <a class="left-menu-link" href="#/ecommerce/dashboard">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/ecommerce/products-catalog">
                        Products Catalog
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/ecommerce/product-details">
                        Product Details
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/ecommerce/product-edit">
                        Product Edit
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/ecommerce/products-list">
                        Products List
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/ecommerce/orders">
                        Orders
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/ecommerce/cart-checkout">
                        Cart / Checkout
                    </a>
                </li>
            </ul>
        </li>
        <li class="left-menu-list-separator"></li>
        <li class="left-menu-list-submenu">
            <a class="left-menu-link" href="javascript: void(0);">
                <i class="left-menu-link-icon icmn-pencil5"></i>
                Forms
            </a>
            <ul class="left-menu-list list-unstyled">
                <li>
                    <a class="left-menu-link" href="#/forms/basic-form-elements">
                        Basic Form Elements
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/forms/buttons">
                        Buttons
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/forms/dropdowns">
                        Dropdowns
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/forms/selectboxes">
                        Selectboxes
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/forms/checkboxes-radio">
                        Checkboxes / Radio
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/forms/form-wizard">
                        Form Wizard
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/forms/form-validation">
                        Form Validation
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/forms/autocomplete">
                        Autocomplete
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/forms/input-mask">
                        Input Mask
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/forms/file-uploads">
                        File Uploads
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/forms/extras">
                        Extras
                    </a>
                </li>
            </ul>
        </li>
        <li class="left-menu-list-submenu">
            <a class="left-menu-link" href="javascript: void(0);">
                <i class="left-menu-link-icon icmn-stack3"></i>
                Components
            </a>
            <ul class="left-menu-list list-unstyled">
                <li>
                    <a class="left-menu-link" href="#/components/date-picker">
                        Date Picker
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/components/calendar">
                        Calendar
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/components/carousel">
                        Carousel
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/components/media-players">
                        Media Players <span class="label left-menu-label label-default">22$ FREE</span>
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/components/slider">
                        Slider
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/components/modal">
                        Modal
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/components/tooltips-popovers">
                        Tooltips & Popovers
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/components/notifications-alerts">
                        Notifications & Alerts
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/components/loading-progress">
                        Loading Progress
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/components/progress-bars">
                        Progress Bars
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/components/badges-labels">
                        Badges & Labels
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/components/steps">
                        Steps
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/components/breadcrumbs">
                        Breadcrumbs
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/components/pagination">
                        Pagination
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/components/collapse">
                        Collapse
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/components/tabs">
                        Tabs
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/components/text-editor">
                        Text Editor
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/components/nestable">
                        Nestable
                    </a>
                </li>
            </ul>
        </li>
        <li class="left-menu-list-submenu">
            <a class="left-menu-link" href="javascript: void(0);">
                <i class="left-menu-link-icon icmn-grid3"></i>
                Tables
            </a>
            <ul class="left-menu-list list-unstyled">
                <li>
                    <a class="left-menu-link" href="#/tables/basic-tables">
                        Basic Tables
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/tables/datatables">
                        DataTables
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/tables/editable-tables">
                        Editable Tables
                    </a>
                </li>
            </ul>
        </li>
        <li class="left-menu-list-submenu">
            <a class="left-menu-link" href="javascript: void(0);">
                <i class="left-menu-link-icon icmn-pie-chart2"></i>
                Charts
            </a>
            <ul class="left-menu-list list-unstyled">
                <li>
                    <a class="left-menu-link" href="#/charts/chartistjs">
                        Chartist.js
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/charts/chartjs">
                        Chart.js
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/charts/c3">
                        C3
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="#/charts/peity">
                        Peity
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a class="left-menu-link" href="#/components/mail-templates">
                <i class="left-menu-link-icon icmn-mail2"></i>
                Mail Templates
            </a>
        </li>
        <li class="left-menu-list-separator"></li>
        <li>
            <a class="left-menu-link" href="#/apps/profile">
                <i class="left-menu-link-icon icmn-profile"></i>
                Profile
            </a>
        </li>
        <li>
            <a class="left-menu-link" href="#/apps/messaging">
                <i class="left-menu-link-icon icmn-bubbles5"></i>
                Messaging
            </a>
        </li>
        <li>
            <a class="left-menu-link" href="#/apps/mail">
                <i class="left-menu-link-icon icmn-mail2"></i>
                Mail
            </a>
        </li>
        <li>
            <a class="left-menu-link" href="#/apps/calendar">
                <i class="left-menu-link-icon icmn-calendar"></i>
                Calendar
            </a>
        </li>
        <li>
            <a class="left-menu-link" href="#/apps/gallery">
                <i class="left-menu-link-icon icmn-images"></i>
                Gallery
            </a>
        </li>
    </ul>
</div>
