@import '../mixins';

.change-module {
    @include transition-very-slow();
    background: #cccccc;
    position: fixed;
    z-index: 3030;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    top: 0;
}
