<nav class="left-menu" left-menu ng-class="{'hidden-left-menu': hideLeftMenu}">
    <div class="logo-container">
        <a href="#/dashboards/alpha" class="logo">
            <img src="/assets/images/brand.png" alt="Clean UI Admin Template" />
            <img class="logo-inverse" src="/assets/images/brand-inverse.png" alt="Clean UI Admin Template" />
        </a>
    </div>
    <div class="left-menu-inner scroll-pane">
        <ul class="left-menu-list left-menu-list-root list-unstyled">
            <li>
                <a class="left-menu-link" href="#/dashboards/beta">
                    <i class="left-menu-link-icon icmn-home2"><!-- --></i>
                    <span class="menu-top-hidden">Dashboard</span> Beta
                </a>
            </li>
            <li class="left-menu-list-separator"><!-- --></li>
            <li class="left-menu-list-submenu">
                <a class="left-menu-link" href="javascript: void(0);">
                    <i class="left-menu-link-icon icmn-files-empty2"><!-- --></i>
                    Default Pages
                </a>
                <ul class="left-menu-list list-unstyled">
                    <li>
                        <a class="left-menu-link" href="#/pages/login-alpha">
                            Login Alpha
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/pages/login-beta">
                            Login Beta
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/pages/login-omega">
                            Login Omega
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/pages/register">
                            Register
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/pages/lockscreen">
                            Lockscreen
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/pages/pricing-tables">
                            Pricing Tables
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/pages/invoice">
                            Invoice
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/pages/page-404">
                            Page 404
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/pages/page-500">
                            Page 500
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-menu-list-submenu">
                <a class="left-menu-link" href="javascript: void(0);">
                    <i class="left-menu-link-icon icmn-cart5"><!-- --></i>
                    Ecommerce
                </a>
                <ul class="left-menu-list list-unstyled">
                    <li>
                        <a class="left-menu-link" href="#/ecommerce/dashboard">
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/ecommerce/products-catalog">
                            Products Catalog
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/ecommerce/product-details">
                            Product Details
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/ecommerce/product-edit">
                            Product Edit
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/ecommerce/products-list">
                            Products List
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/ecommerce/orders">
                            Orders
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/ecommerce/cart-checkout">
                            Cart / Checkout
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-menu-list-separator"><!-- --></li>
            <li class="left-menu-list-submenu">
                <a class="left-menu-link" href="javascript: void(0);">
                    <i class="left-menu-link-icon icmn-pencil5"><!-- --></i>
                    Forms
                </a>
                <ul class="left-menu-list list-unstyled">
                    <li>
                        <a class="left-menu-link" href="#/forms/basic-form-elements">
                            Basic Form Elements
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/forms/buttons">
                            Buttons
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/forms/dropdowns">
                            Dropdowns
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/forms/selectboxes">
                            Selectboxes
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/forms/checkboxes-radio">
                            Checkboxes / Radio
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/forms/form-wizard">
                            Form Wizard
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/forms/form-validation">
                            Form Validation
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/forms/autocomplete">
                            Autocomplete
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/forms/input-mask">
                            Input Mask
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/forms/file-uploads">
                            File Uploads
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/forms/extras">
                            Extras
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-menu-list-submenu">
                <a class="left-menu-link" href="javascript: void(0);">
                    <i class="left-menu-link-icon icmn-stack3"><!-- --></i>
                    Components
                </a>
                <ul class="left-menu-list list-unstyled">
                    <li>
                        <a class="left-menu-link" href="#/components/date-picker">
                            Date Picker
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/components/calendar">
                            Calendar
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/components/carousel">
                            Carousel
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/components/media-players">
                            Media Players <span class="label left-menu-label label-default">22$ FREE</span>
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/components/slider">
                            Slider
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/components/modal">
                            Modal
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/components/tooltips-popovers">
                            Tooltips & Popovers
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/components/notifications-alerts">
                            Notifications & Alerts
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/components/loading-progress">
                            Loading Progress
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/components/progress-bars">
                            Progress Bars
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/components/badges-labels">
                            Badges & Labels
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/components/steps">
                            Steps
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/components/breadcrumbs">
                            Breadcrumbs
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/components/pagination">
                            Pagination
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/components/collapse">
                            Collapse
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/components/tabs">
                            Tabs
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/components/text-editor">
                            Text Editor
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/components/nestable">
                            Nestable
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-menu-list-submenu">
                <a class="left-menu-link" href="javascript: void(0);">
                    <i class="left-menu-link-icon icmn-grid3"><!-- --></i>
                    Tables
                </a>
                <ul class="left-menu-list list-unstyled">
                    <li>
                        <a class="left-menu-link" href="#/tables/basic-tables">
                            Basic Tables
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/tables/datatables">
                            DataTables
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/tables/editable-tables">
                            Editable Tables
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-menu-list-submenu">
                <a class="left-menu-link" href="javascript: void(0);">
                    <i class="left-menu-link-icon icmn-pie-chart2"><!-- --></i>
                    Charts
                </a>
                <ul class="left-menu-list list-unstyled">
                    <li>
                        <a class="left-menu-link" href="#/charts/chartistjs">
                            Chartist.js
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/charts/chartjs">
                            Chart.js
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/charts/c3">
                            C3
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/charts/peity">
                            Peity
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="left-menu-link" href="#/components/mail-templates">
                    <i class="left-menu-link-icon icmn-mail2"><!-- --></i>
                    Mail Templates
                </a>
            </li>
            <li class="left-menu-list-separator"><!-- --></li>
            <li>
                <a class="left-menu-link" href="#/apps/profile">
                    <i class="left-menu-link-icon icmn-profile"><!-- --></i>
                    Profile
                </a>
            </li>
            <li>
                <a class="left-menu-link" href="#/apps/messaging">
                    <i class="left-menu-link-icon icmn-bubbles5"><!-- --></i>
                    Messaging
                </a>
            </li>
            <li>
                <a class="left-menu-link" href="#/apps/mail">
                    <i class="left-menu-link-icon icmn-mail2"><!-- --></i>
                    Mail
                </a>
            </li>
            <li>
                <a class="left-menu-link" href="#/apps/calendar">
                    <i class="left-menu-link-icon icmn-calendar"><!-- --></i>
                    Calendar
                </a>
            </li>
            <li>
                <a class="left-menu-link" href="#/apps/gallery">
                    <i class="left-menu-link-icon icmn-images"><!-- --></i>
                    Gallery
                </a>
            </li>
            <li class="left-menu-list-separator"><!-- --></li>
            <li class="left-menu-list-submenu">
                <a class="left-menu-link" href="javascript: void(0);">
                    <i class="left-menu-link-icon icmn-stack3"><!-- --></i>
                    Layout
                </a>
                <ul class="left-menu-list list-unstyled">
                    <li>
                        <a class="left-menu-link" href="#/layout/grid">
                            Grid
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/layout/panels">
                            Panels / Cards
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/layout/sidebars">
                            Sidebars
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/layout/utilities">
                            Utilities
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-menu-list-submenu">
                <a class="left-menu-link" href="javascript: void(0);">
                    <i class="left-menu-link-icon icmn-star-full"><!-- --></i>
                    Icons
                </a>
                <ul class="left-menu-list list-unstyled">
                    <li>
                        <a class="left-menu-link" href="#/icons/icomoon-ultimate">
                            IcoMoon Ultimate <span class="label left-menu-label label-default">59$ FREE</span>
                        </a>
                    </li>
                    <li>
                        <a class="left-menu-link" href="#/icons/fontawesome">
                            FontAwesome
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="left-menu-link" href="#/layout/typography">
                    <i class="left-menu-link-icon icmn-font-size"><!-- --></i>
                    Typography
                </a>
            </li>
            <li class="left-menu-list-separator"><!-- --></li>
            <li class="left-menu-list-disabled">
                <a class="left-menu-link" href="javascript: void(0);">
                    Disabled Item
                </a>
            </li>

            <!-- remove "horizontal-left-direction" class, for get submenu with right direction (horizontal menu option) -->
            <li class="left-menu-list-submenu horizontal-left-direction">
                <a class="left-menu-link" href="javascript: void(0);">
                    Infinity Nested
                </a>
                <!-- level 1 -->
                <ul class="left-menu-list list-unstyled">
                    <li class="left-menu-list-submenu">
                        <a class="left-menu-link" href="javascript: void(0);">
                            Level 1
                        </a>
                        <!-- level 2 -->
                        <ul class="left-menu-list list-unstyled">
                            <li class="left-menu-list-submenu">
                                <a class="left-menu-link" href="javascript: void(0);">
                                    Level 1.2
                                </a>
                                <!-- level 3 -->
                                <ul class="left-menu-list list-unstyled">
                                    <li>
                                        <a class="left-menu-link" href="javascript: void(0);">
                                            Level 1.2.3
                                        </a>
                                    </li>
                                    <li class="left-menu-list-submenu">
                                        <a class="left-menu-link" href="javascript: void(0);">
                                            Level 1.2.3
                                        </a>
                                        <!-- level 4 -->
                                        <ul class="left-menu-list list-unstyled">
                                            <li>
                                                <a class="left-menu-link" href="javascript: void(0);">
                                                    Level 1.2.3.4
                                                </a>
                                            </li>
                                        </ul>

                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="left-menu-link" href="javascript: void(0);">
                                    Level 1.2
                                </a>
                            </li>
                            <li>
                                <a class="left-menu-link" href="javascript: void(0);">
                                    Level 1.2
                                </a>
                            </li>
                            <li>
                                <a class="left-menu-link" href="javascript: void(0);">
                                    Level 1.2
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="left-menu-link" href="javascript: void(0);">
                            Level 1
                        </a>
                    </li>
                </ul>
            </li>
            <li class="left-menu-list-separator"><!-- --></li>
            <li class="menu-top-hidden no-colorful-menu">
                <div class="left-menu-item">
                    Last Week Sales
                </div>
            </li>
            <li class="menu-top-hidden no-colorful-menu">
                <div class="example-left-menu-chart chartist-animated chartist-theme-dark"></div>
                <script>
                    $(function () {
                        // CSS STYLING & ANIMATIONS
                        var cssAnimationData = {
                                    labels: ["S", "M", "T", "W", "T", "F", "S"],
                                    series: [
                                        [11, 14, 16, 16, 20, 17, 21]
                                    ]
                                },
                                cssAnimationOptions = {
                                    fullWidth: !0,
                                    chartPadding: {
                                        right: 2,
                                        left: 30
                                    },
                                    axisY: {
                                        position: 'end'
                                    }
                                },
                                cssAnimationResponsiveOptions = [
                                    [{
                                        axisX: {
                                            labelInterpolationFnc: function(value, index) {
                                                return index % 2 !== 0 ? !1 : value
                                            }
                                        }
                                    }]
                                ];

                        new Chartist.Line(".example-left-menu-chart", cssAnimationData, cssAnimationOptions, cssAnimationResponsiveOptions);

                    });
                </script>
            </li>
            <li class="menu-top-hidden no-colorful-menu">
                <div class="left-menu-item">
                    Solar System
                </div>
            </li>
            <li class="menu-top-hidden">
                <div class="left-menu-item">
                    <span class="donut donut-success"></span> Jupiter
                </div>
            </li>
            <li class="menu-top-hidden">
                <div class="left-menu-item">
                    <span class="donut donut-primary"></span> Earth
                </div>
            </li>
            <li class="menu-top-hidden">
                <div class="left-menu-item">
                    <span class="donut donut-danger"></span> Mercury
                </div>
            </li>
        </ul>
    </div>
</nav>

<nav class="top-menu" ng-class="{'hidden-top-menu': hideTopMenu}">
    <div class="menu-icon-container hidden-md-up">
        <div class="animate-menu-button left-menu-toggle">
            <div><!-- --></div>
        </div>
    </div>
    <div class="menu">
        <div class="menu-user-block">
            <div class="dropdown dropdown-avatar">
                <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="avatar" href="javascript:void(0);">
                        <img src="../assets/images/temp/avatars/1.jpg" alt="Alternative text to the image">
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-user"></i> Profile</a>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-header">Home</div>
                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> System Dashboard</a>
                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> User Boards</a>
                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-circle-right"></i> Issue Navigator (35 New)</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-exit"></i> Logout</a>
                </ul>
            </div>
        </div>
        <div class="menu-user-block menu-notifications">
            <div class="dropdown dropdown-avatar">
                <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="menu-notification-icon icmn-bubbles7"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                    <div class="notification-block">
                        <div class="item">
                            <i class="notification-icon icmn-star-full"></i>
                            <div class="inner">
                                <div class="title">
                                    <span class="pull-right">now</span>
                                    <a href="javascript: void(0);">Update Status: <span class="label label-danger font-weight-700">New</span></a>
                                </div>
                                <div class="descr">
                                    Failed to get available update data. To ensure the proper functioning of your application, update now.
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="notification-icon icmn-stack3"></i>
                            <div class="inner">
                                <div class="title">
                                    <span class="pull-right">24 min ago</span>
                                    <a href="javascript: void(0);">Income: <span class="label label-default font-weight-700">$299.00</span></a>
                                </div>
                                <div class="descr">
                                    Failed to get available update data. To ensure the proper functioning of your application, update now.
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="notification-icon icmn-bubbles5"></i>
                            <div class="inner">
                                <div class="title">
                                    <span class="pull-right">30 min ago</span>
                                    <a href="javascript: void(0);">Inbox Message</a>
                                </div>
                                <div class="descr">
                                    From: <a href="javascript: void(0);">David Bowie</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="notification-icon icmn-pie-chart2"></i>
                            <div class="inner">
                                <div class="title">
                                    <span class="pull-right">now</span>
                                    <a href="javascript: void(0);">Update Status: <span class="label label-primary font-weight-700">New</span></a>
                                </div>
                                <div class="descr">
                                    Failed to get available update data. To ensure the proper functioning of your application, update now.
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="notification-icon icmn-books"></i>
                            <div class="inner">
                                <div class="title">
                                    <span class="pull-right">24 min ago</span>
                                    <a href="javascript: void(0);">Income: <span class="label label-warning font-weight-700">$299.00</span></a>
                                </div>
                                <div class="descr">
                                    Failed to get available update data. To ensure the proper functioning of your application, update now.
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="notification-icon icmn-cog util-spin-delayed-pseudo"></i>
                            <div class="inner">
                                <div class="title">
                                    <span class="pull-right">30 min ago</span>
                                    <a href="javascript: void(0);">Inbox Message</a>
                                </div>
                                <div class="descr">
                                    From: <a href="javascript: void(0);">David Bowie</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="menu-info-block">
            <div class="left">
                <div class="header-buttons">
                    <div class="dropdown">
                        <a href="javascript: void(0);" class="dropdown-toggle dropdown-inline-button" data-toggle="dropdown" aria-expanded="false">
                            <i class="dropdown-inline-button-icon icmn-folder-open"></i>
                            <span class="hidden-lg-down">Issues History</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="" role="menu">
                            <a class="dropdown-item" href="javascript:void(0)">Current search</a>
                            <a class="dropdown-item" href="javascript:void(0)">Search for issues</a>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-header">Opened</div>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-checkmark"></i> CLNUI-253 Project implemen...</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-checkmark"></i> CLNUI-234 Active history iss...</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-clock"></i> CLNUI-424 Ionicons intergrat...</a>
                            <a class="dropdown-item" href="javascript:void(0)">More...</a>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-header">Filters</div>
                            <a class="dropdown-item" href="javascript:void(0)">My open issues</a>
                            <a class="dropdown-item" href="javascript:void(0)">Reported by me</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)">Import issues from CSV</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-cog"></i> Settings</a>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <a href="javascript: void(0);" class="dropdown-toggle dropdown-inline-button" data-toggle="dropdown" aria-expanded="false">
                            <i class="dropdown-inline-button-icon icmn-database"></i>
                            <span class="hidden-lg-down">Dashboards</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="" role="menu">
                            <div class="dropdown-header">Active</div>
                            <a class="dropdown-item" href="javascript:void(0)">Project Management</a>
                            <a class="dropdown-item" href="javascript:void(0)">User Inetrface Development</a>
                            <a class="dropdown-item" href="javascript:void(0)">Documentation</a>
                            <div class="dropdown-header">Inactive</div>
                            <a class="dropdown-item" href="javascript:void(0)">Marketing</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-cog"></i> Settings</a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="left hidden-md-down">
                <div class="example-top-menu-chart">
                    <span class="title">Income:</span>
                    <span class="chart" id="topMenuChart">1,3,2,0,3,1,2,3,5,2</span>
                    <span class="count">425.00 USD</span>

                    <!-- Top Menu Chart Script -->
                    <script>
                        $(function () {

                            var topMenuChart = $("#topMenuChart").peity("bar", {
                                fill: ['#01a8fe'],
                                height: 22,
                                width: 44
                            });

                            setInterval(function() {
                                var random = Math.round(Math.random() * 10);
                                var values = topMenuChart.text().split(",");
                                values.shift();
                                values.push(random);
                                topMenuChart.text(values.join(",")).change()
                            }, 1000);
                        });
                    </script>
                </div>
            </div>
            <div class="right hidden-lg-down margin-left-20">
                <div class="search-block">
                    <div class="form-input-icon form-input-icon-right">
                        <i class="icmn-search"></i>
                        <input type="text" class="form-control form-control-sm form-control-rounded" placeholder="Search...">
                        <button type="submit" class="search-block-submit "></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="page-content">
    {{outlet}}
</section>
